extends layout

block content
  .container
    .row
      .col
        table.table
          thead
            tr
              th Ordered amount
              th Product name
              th Price
              th Total price
              th #
          each product in order
            tbody
              tr
                td #{product.orderedAmount}
                td #{product.productName}
                td #{product.price}
                td #{product.price*product.orderedAmount}
                td
                  a.btn.btn-danger(href=`/basket/remove/${product.id}`) Remove
          tfoot
            tr
              th
              th
              th
              th #{total}
              th

  a.btn.btn-warning(href='/basket/empty') Empty basket