extends layout

block content
  link(href='/stylesheets/basket.css', rel='stylesheet')
  .container
    .row
      .col-12.text-center.mt-4.mb-4
        h1#headingText Please check your basket!
    .row
      .col#basketDiv
        if loggedcustomer.basket!=='{}'
          table.table.text-center
            thead
              tr
                th Product name
                th Details
                th Ordered amount
                th Price per unit
                th #
            each product in order
              tbody
                tr
                  td #{product.productName}
                  td
                    a#productDetailsLink(href=`/products/${product.urlPostfix}`) Product details
                  td
                    i.fa.fa-chevron-left(onclick=`changingAmountOfProduct(${loggedcustomer.id}, ${product.id}, 'minusOne')`)
                    input(name='orderedAmount' type='number' value=`${product.orderedAmount}` readonly)
                    i.fa.fa-chevron-right(onclick=`changingAmountOfProduct(${loggedcustomer.id}, ${product.id}, 'plusOne')`)
                  td #{product.price}
                  td
                    a.btn#removeBtn(href=`/basket/remove/${product.id}`) Remove
            tfoot
              tr#totalPriceText
                th
                th
                th Total price:
                th#totalPrice #{total}
                th
          .row
            .col-sm-12.col-md-5.offset-md-1
              a#emptyBasketBtn.btn.btn-block(href='/basket/empty') Empty basket
            .col-sm-12.col-md-5
              a#orderBtn.btn.btn-block(href='/orders/actual') Order
            

        else
          .col#emptyBasketText.text-center.p-4
            h3 Your basket is empty.
            h5 Please check out our&nbsp;
             a(href='/products') food variety
             span !

  script(src="/javascripts/basket.js")