extends layout

block content
  .container
    .row
      .col
        table.table
          thead
            tr
              th Product name
              th Details
              th Ordered amount
              th Price per unit
              th #
          each product in order
            tbody
              tr
                td #{product.productName}
                td
                  a(href=`/products/${product.urlPostfix}`) Product details
                td
                  i.fa.fa-chevron-left(onclick=`changingAmountOfProduct(${loggedcustomer.id}, ${product.id}, 'minusOne')`)
                  input(name='orderedAmount' type='number' value=`${product.orderedAmount}` readonly)
                  i.fa.fa-chevron-right(onclick=`changingAmountOfProduct(${loggedcustomer.id}, ${product.id}, 'plusOne')`)
                td #{product.price}
                td
                  a.btn.btn-danger(href=`/basket/remove/${product.id}`) Remove
          tfoot
            tr
              th
              th
              th
              th#totalPrice #{total}
              th

  a.btn.btn-warning(href='/basket/empty') Empty basket