extends layout

block content
  link(href='/stylesheets/customerSettings.css', rel='stylesheet')
  .container
    .row
      .col-12.text-center.mt-4.mb-4
        h1#headingText Your personal settings
    .row.justify-content-center
      .col-sm-12.col-md-10#settingsDiv.pt-0
       .row.text-center
         .col-12.p-0.mt-0
           if message
             .alert.alert-success.visible #{message}
           else if alert
             .alert.alert-danger #{alert}
           else
             .alert.alert-success.invisible #{message}
       .row
         if attr==="firstName"
           .col-6.offset-3
             .alert.alert-warning Exclusively english alphabet!
             form(action="/settings/firstName" method="post")
               .form-inline
                   label(for="firstName") First name:&nbsp;
                   input(type="text" id="firstName" name="firstName" value=`${loggedcustomer.firstName}` class="form-control" pattern="^[a-zA-Z]*$" required)
                   button.btn.btn#redSettingsBtn(type="submit") Change
         else
           .col-2.offset-3
             span First name:
           .col-3
             span#customerData #{loggedcustomer.firstName}
           .col-1
             a.btn#editSettingsBtn(href="/settings/firstName") Change
       hr
       .row
         if attr==="lastName"
           .col-6.offset-3
             .alert.alert-warning Exclusively english alphabet!
             form(action="/settings/lastName" method="post")
               .form-inline
                   label(for="lastName") Last name:&nbsp;
                   input(type="text" id="lastName" name="lastName" value=`${loggedcustomer.lastName}` class="form-control" pattern="^[a-zA-Z]*$" required)
                   button.btn#redSettingsBtn(type="submit") Change
         else
           .col-2.offset-3
             span Last name:
           .col-3
             span#customerData #{loggedcustomer.lastName}
           .col-1
             a.btn#editSettingsBtn(href="/settings/lastName") Change
       hr
       .row
         if attr==="email"
           .col-6.offset-3
             .alert.alert-warning Be careful, you have to use your new email next time when you log in!
             form(action="/settings/email" method="post")
               .form-inline
                 label(for="email") Email:&nbsp;
                 input(type="text" id="email" name="email" value=`${loggedcustomer.email}` class="form-control" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$")
                 button.btn#redSettingsBtn(type="submit") Change
         else
           .col-2.offset-3
             span Email:
           .col-3
             span#customerData #{loggedcustomer.email}
           .col-1
             a.btn#editSettingsBtn(href="/settings/email") Change
       hr
       .row
         if attr==="address"
           .col-6.offset-3
             form(action="/settings/address" method="post")
               .form-inline
                   label(for="address") Address:&nbsp;
                   input(type="text" id="address" name="address" value=`${loggedcustomer.address}` class="form-control" required)
                   button.btn#redSettingsBtn(type="submit") Change
         else
           .col-2.offset-3
             span Address:
           .col-3
             span#customerData #{loggedcustomer.address}
           .col-1
             a.btn#editSettingsBtn(href="/settings/address") Change
       hr
       .row
         if attr==="password"
           .col-6.offset-3
             form(action="/settings/password" method="post")
               .form-group
                 label(for="passwordNow") Current password:&nbsp;
                 input(type="password" id="passwordNow" name="actualPassword" class="form-control" required)
               hr
               .alert.alert-warning New password should be at least 8 characters long and should contain at least one uppercase letter, one lowercase letter and a number!
               .form-group
                 label(for="newPassword1") New password:&nbsp;
                 input(type="password" id="newPassword1" name="newPassword1" class="form-control" required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$")
               .form-group
                 label(for="newPassword2") New password again:&nbsp;
                 input(type="password" id="newPassword2" name="newPassword2" class="form-control" required)
                 .row.justify-content-center.pt-2
                  button.btn#redSettingsBtn(type="submit") Change
         else
           .col-5.offset-3
             span Password
           .col-1
             a.btn#editSettingsBtn(href="/settings/password") Change