extends layout

block content
  link(href='/stylesheets/orderpage.css', rel='stylesheet')
  .container
    .row
      .col-12.text-center.mt-4.mb-4
        h1#headingText Please confirm your order!
    .row
      .col#orderDiv
        table.table.text-center
          thead
             tr
               th Product name
               th Details
               th Unit price
               th Unit
               th Total price
          tbody
            each product in order
              tr
                td #{product.productName}
                td
                  a#productDetailsLink(href=`${product.url}`) Details
                td $#{product.price}
                td #{product.amount}
                td $#{product.amount*product.price}
            tr
              td
              td
              td
              td
              td#totalPriceText Total price: $#{total}
        .row#orderFooter
          .col-6.text-left.pl-5
            h6 Name:&nbsp;
              span #{loggedcustomer.firstName} #{loggedcustomer.lastName}
            h6 Address:&nbsp;
              span #{loggedcustomer.address}
          .col-6.text-right
           a.btn#orderBtn.m-4(href='/orders/neworder') I send my order
           