extends layout

block content
  link(href='/stylesheets/orders.css', rel='stylesheet')
  .container
    .row
      .col-12.text-center.mt-4.mb-4
        h1#headingText Your order history
    .row.justify-content-center
      .col-12#ordersDiv.p-0
        table.table-responsive.table.text-center.table-hover
          thead
            tr
              th Address
              th Order date
              th Ordered products
              th Total price
              th Order status
            tbody
              each order in orders
                tr
                  td #{order.shippingAddress}
                  td #{order.orderDate}
                  td
                    ul
                      each product in order.products
                        li 
                          a(href=`${product.url}`) #{product.productName}
                  td $#{order.totalPrice}
                  td #{order.status}