extends layout

block content
  link(href='/stylesheets/orders.css', rel='stylesheet')
  .container
    .row.text-center
      .col-10
        table.table.text-center
          thead
            tr
              th Address
              th Order date
              th Ordered products
              th Total price
              th Order status
            tbody
              each order in orders
                tr
                  td #{order.shippingAddress}
                  td #{order.orderDate}
                  td
                    ul
                      each product in order.products
                        li 
                          a(href=`${product.url}`) #{product.productName}
                  td #{order.totalPrice}
                  td #{order.status}