extends layout

block content
  link(href='/stylesheets/products.css', rel='stylesheet')
  .container      
    .row
      .col-12.col-xs-6.col-md-3  
        - let limitNumber = displaySize || 10
        form.form-inline.mt-3.mb-3(method="POST" action="/products")
          .form-group
            select.form-control.pageLimitSelector(name="limit")
              -let viewArray = [10,15,20,25,50];
              each view in viewArray
                if view == displaySize
                  option(value=`${view}` selected) #{view}
                else 
                  option(value=`${view}`) #{view}                  
            span.input-group-btn  
              button.btn.btn-light.pageLimitSelector(type='submit') View
    .row
      each product , index in products
        if index < limitNumber
          .col-lg-4.col-sm-12.product_content
            .single_product_text
              img.img-fluid(src='/images/food1.jpg')
              .product_images_overlay.text-center
                h6.mt-1.mb-1 #{product.productName}
                p.product_price #{product.type}
                p.product_price #{product.price} Galaxy Dollars
                a.btn.btn-primary(href=`/products/${product.urlPostfix}`) Click here         
      .col-12.mt-3.mb-3.ml-3                      
        if numberOfproducts > limitNumber
          nav(aria-label='Page navigation')
            ul.pagination.justify-content-center
              - let x = 1;
              - let y = Math.round(numberOfproducts/limitNumber) 
                li.page-item
                  a.page-link(href=`/products?page=${prevPage || 1 }&limit=${limitNumber}` aria-label='Previous')
                    span(aria-hidden='true') &laquo;
                    span.sr-only Previous
                while x <= y
                  li.page-item
                    a.page-link(href=`/products?page=${x}&limit=${limitNumber}`) #{x++}    
                li.page-item
                  a.page-link(href=`/products?page=${nextPage || 1 }&limit=${limitNumber}` aria-label='Next')
                    span(aria-hidden='true') &raquo;
                    span.sr-only Next
