extends layout

block content
  link(href='/stylesheets/products.css', rel='stylesheet')
  .container-fluid.p-0      
      .row.filter-container.justify-content-md-center.text-center
        .col-2.p-0
          - let limitNumber = displaySize || 12
          form.form-inline.mt-3.mb-3(method="POST" action="/products").text-center
            .form-group
              select.form-control.pageLimitSelector(name="limit")
                -let viewArray = [12,15,20,25,50];
                each view in viewArray
                  if view == displaySize
                    option(value=`${view}` selected) #{view}
                  else 
                    option(value=`${view}`) #{view}                  
              span.input-group-btn  
                button.btn.btn-light.pageLimitSelector(type='submit') View
        .col-2.mt-3.mb-3.p-0
          a.btn.pageLimitSelector(href=`/products?filter=all`) All
        .col-2.mt-3.mb-3.p-0
          a.btn.pageLimitSelector(href=`/products?filter=human`) Human
        .col-2.mt-3.mb-3.p-0        
          a.btn.pageLimitSelector(href=`/products?filter=alien`) Alien
        .col-2.mt-3.mb-3.p-0        
          a.btn.pageLimitSelector(href=`/products?filter=drinks`) Drinks  
  .container.mt-5.mb-5           
    .row
      each product , index in products
        if index < limitNumber
          .col-lg-4.col-sm-6.product_content.d-flex.justify-content-center.p-0
            .single_product_text.m-3
              p.text-center.foodName.mt-1.mb-1
                strong #{product.productName}
              img.img-fluid(src=`/images/productImages/${product.urlPostfix}.jpg`, style="width:400px;height:300px;")
              .product_images_overlay.text-center
                .col.mt-5.mb-5
                  h4.mt-3.mb-1 #{product.productName}
                  p.product_price #{product.type}
                  h6.product_price.mb-3 #{product.price} Galaxy $
                  a.btn.btn-primary.mt-3(href=`/products/${product.urlPostfix}`) Show more
  .container-fluid.p-0                       
    .row.filter-container.m-0  
      .col-12                      
        if numberOfproducts > limitNumber
          nav(aria-label='Page navigation')
            ul.pagination.justify-content-center.m-3
              - let x = 1;
              - let y = Math.round(numberOfproducts/limitNumber) 
              - let all = "all"
                li.page-item
                  a.page-link(href=`/products?filter=${filterItem || all }&page=${prevPage || 1 }&limit=${limitNumber}` aria-label='Previous')
                    span(aria-hidden='true') &laquo;
                    span.sr-only Previous
                while x <= y
                  li.page-item
                    a.page-link(href=`/products?filter=${filterItem || all }&page=${x}&limit=${limitNumber}`) #{x++}    
                li.page-item
                  a.page-link(href=`/products?filter=${filterItem || all }&page=${nextPage || 1 }&limit=${limitNumber}` aria-label='Next')
                    span(aria-hidden='true') &raquo;
                    span.sr-only Next
